@{
    ViewData["Title"] = "SOBRE";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3


<p>Jose Carlos @ViewData["Duque"]</p>

<address>
    Informação: </strong> <a href="http://alphacitytaxi.com.br">Taxi24horas</a>
</address>

